$color-primary:#55c57a;
$color-primary-dark:#7ed56f;
$color-primary-light:#28b485;
$color-gray-dark:#777;
$color-gray-light:rgb(207, 207, 207);
$color-white:#fff;
$color-black:#000;

//gird
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-hotizontal:3rem;